body {
    background-color: #BC6A34;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    height: 100vh;
    margin: 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    flex-direction: column; /* Stack items vertically */
}

h1 {
    font-size: 40pt; /* Increased font size */
    color: #fff;
    z-index: 2;
    margin-top: 20px; /* Adds space from the top */
    width: 100%; /* Span full width */
    text-align: center; /* Center align the text */
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 2;
    margin-top: 20px; /* Space between heading and button */
}

.dropbtn {
    background-color: #658a55;
    color: white;
    padding: 15px 30px; /* Increase button padding */
    font-size: 20px; /* Increase button font size */
    border: 1px solid black; /* Add thin black outline */
    cursor: pointer;
    z-index: 3;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #658a55;
    min-width: 180px; /* Adjust width */
    z-index: 4;
    border: 1px solid black; /* Add thin black outline */
}

.dropdown-content a {
    color: white;
    padding: 16px 20px; /* Increase option padding */
    font-size: 18px; /* Increase font size of the options */
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #4c6b3e;
}

.show {
    display: block;
}

#mapImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    display: none;
}
