body {
    background-color: #BC6A34;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    position: relative; /* Make body position relative */
    overflow: hidden; /* Hide overflow */
    flex-direction: column
}

h1 {
    font-size: 70pt;
    color: #fff;
    z-index: 0; /* Bring text above image */
    position: relative; /* or absolute */ 
    bottom:90px; /* Moves the element down */ 
}

.dropdown{
    display: inline-block;
}

.dropdown button
{
    background-color: darkolivegreen;
    color: white;
    font-size: 30pt;
    padding: 10px 15px;
    border-width: thin;
    cursor: pointer;

}

.dropdown a
{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 24pt;
    padding: 10px 15px;
    border: thin solid black;
}

.dropdown .content
{
    display: none;
    position: absolute;
    left: 635px;
    background-color: hsl(82, 27%, 43%);
    box-shadow: 2px 2px 5x black;
}

.dropdown:hover .content
{
    display: block;
}

.dropdown:hover button
{
    background-color:hsl(82, 27%, 26%);;
}

.dropdown a:hover
{
    background-color:hsl(82, 27%, 32%);;
}